<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Sistema Kamila</title>
  </head>
  <body class="bg-white">
    <noscript>
      <strong>Lamentamos mas o sistema não funciona corretamente sem o JavaScript ativado. Ative-o para continuar.</strong>
    </noscript>
    <div id="app"></div>
    <!-- arquivos construídos serão auto-injetados -->
  </body>
</html>
