<template>
	<div id="exemple">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">{{title}}</h4>
				<p class="card-text">Text.</p>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body"></div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body"></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	/* eslint-disable */
	export default {
		name: 'ExempleView',
		data() {
			return {
				title: 'Exemple'
			};
		}
	};
</script>

<style scoped></style>
