<template>
	<div id="agenda">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
		<div class="row mt-3">
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<div class="d-flex align-items-center justify-content-between">
							<h4 class="card-title m-0">Todos os agendamentos</h4>
							<form class="ml-auto">
								<div class="input-group d-flex align-items-center">
									<i class="material-icons info mr-2" tooltip-placement="top" v-tooltip-title="'A pesquisa pode ser realizada a partir de qualquer informação do agendamento.<br /> Ex: nome, data, hora, etc.'"></i>
									<input type="text" class="form-control" v-model="search" placeholder="Buscar agendamento" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div id="datepicker"></div>
				<a href="#cadastrar" v-on:click="dataModal = {idProfissional: ''}" data-toggle="modal" class="btn btn-primary btn-block mt-3">Adicionar agendamento</a>
				<!--<button type="button" class="btn btn-primary btn-block mt-3" v-on:click="$root.deleteAllDocsFromFirestore().fromAllCollection()">-->
				<!--	Deletar todos os registros do Firestore-->
				<!--</button>-->
				<!--<div class="card">-->
				<!--	<div class="card-body"></div>-->
				<!--</div>-->
			</div>
		</div>
        <!-- Modal -->
        <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" v-modal>
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <form class="modal-content" v-on:submit="cadastrar">
                    <div class="modal-header">
                        <h5 class="modal-title">Novo agendamento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <!--<div class="row">-->
                        <!--    <div class="form-group col-md-12">-->
                        <!--        <label>Profissional</label>-->
                        <!--        <select class="form-control" v-model="dataModal.estado" required>-->
                        <!--            <option value="">Selecione</option>-->
                        <!--            <option v-for="(value, key) in $root.estadosBrasileiros" v-bind:value="key" v-bind:key="key">{{value}}</option>-->
                        <!--        </select>-->
                        <!--    </div>-->
                        <!--    <div class="form-group col-md-12">-->
                        <!--        <label>Nome completo</label>-->
                        <!--        <input type="text" class="form-control" v-model="dataModal.nome" autofocus required />-->
                        <!--    </div>-->
                        <!--    <div class="col-md-6">-->
                        <!--        <div class="row">-->
                        <!--            <div class="form-group col-md-6">-->
                        <!--                <label>CPF</label>-->
                        <!--                <input type="text" class="form-control" v-model="dataModal.cpf" v-mask="'000.000.000-00'" placeholder="___.___.___-__" required />-->
                        <!--            </div>-->
                        <!--            <div class="form-group col-md-6">-->
                        <!--                <label>Data de nascimento</label>-->
                        <!--                <input type="text" class="form-control" v-model="dataModal.dataNascimento" v-mask="'00/00/0000'" placeholder="__/__/____" v-datepicker required />-->
                        <!--            </div>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</div>-->
						<div class="form-group row">
							<label class="col-md-4 col-form-label">Profissional:</label>
							<div class="col-md-8">
								<select class="form-control" v-model="dataModal.idProfissional" required>
									<option value="">Selecione</option>
									<option v-bind:value="profissional.id" v-for="profissional in profissionais" v-bind:key="profissional.id">{{profissional.nome}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label">CPF do cliente:</label>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-4">
										<input type="text" class="form-control" v-model="dataModal.cpfCliente" v-mask="'000.000.000-00'" placeholder="___.___.___-__" required />
									</div>
									<div class="col-md-7">
										<input type="text" class="form-control" v-model="dataModal.nomeCliente" disabled />
									</div>
									<div class="col-md-1">
										<!--<i class="icon mdi mdi-information" tooltip-placement="top" tooltip-trigger="hover" tooltip-title="Após digitar o CPF o nome do cliente é exibido no campo em branco ao lado quando encontrado no sistema." style="margin-left: -10px"></i>-->
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-md-2 col-form-label">Data:</label>
											<div class="col-md-10">
												<input type="text" class="form-control datepicker" v-model="dataModal.data" disabled />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group row">
											<label class="col-md-2 col-form-label">Hora:</label>
											<div class="col-md-10">
												<input type="time" class="form-control" v-model="dataModal.hora" required />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Agendar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
	</div>
</template>

<script>
	import $ from 'jquery';
	export default {
		name: 'AgendaView',
		data() {
			return {
				title: 'Agenda',
				search: '',
				dataModal: {},
				profissionais: []
			};
		},
		mounted() {
			$('#datepicker').datepicker();
			$('.ui-datepicker').css('min-width', '100%');
		}
	};
</script>

<style scoped></style>
