<template>
    <div id="clientes">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title m-0">Todos os clientes</h4>
                    <form class="ml-auto mr-4">
                        <div class="input-group d-flex align-items-center">
                            <i class="material-icons info mr-2" tooltip-placement="top" v-tooltip-title="'A pesquisa pode ser realizada a partir de qualquer informação do cliente.<br /> Ex: nome, telefone, e-mail, endereço, CPF, etc.'"></i>
                            <input type="text" class="form-control" v-model="search" placeholder="Buscar cliente" />
                        </div>
                    </form>
                    <a href="#cadastrar" v-on:click="dataModal = {estado: ''}" data-toggle="modal" class="btn btn-link text-primary p-0" tooltip-placement="top" v-tooltip-title="'Cadastrar cliente'"><i class="material-icons person_add"></i></a>
                </div>
			</div>
            <table class="table table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th style="width: 150px" scope="col">CPF</th>
                        <th style="width: 142px" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="cliente in $root.filter(clientes, search)" v-bind:key="cliente.id">
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.cpf}}</td>
                        <td>
                            <a href="#visualizar" v-on:click="dataModal = cliente" data-toggle="modal" class="btn btn-link text-secondary p-0 mt-1 mr-3" tooltip-placement="top" v-tooltip-title="'Visualizar dados'"><i class="material-icons remove_red_eye"></i></a>
                            <a href="#alterar" v-on:click="dataModal = JSON.clone(cliente); dataModal.origin = JSON.clone(cliente); validaDados({})" data-toggle="modal" class="btn btn-link text-primary p-0 mt-1" tooltip-placement="top" v-tooltip-title="'Alterar dados'"><i class="material-icons edit"></i></a>
                            <a href="#" data-toggle="modal" v-bind:id="cliente.id" class="btn btn-link text-danger p-0 mt-1 ml-3" tooltip-placement="top" v-tooltip-title="'Deletar cliente'" popover-placement="top" v-popover-title="'Deseja mesmo deletar este cliente?'" popover-content="confirm-delete"><i class="material-icons delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="preloader-container" v-show="preloader">
                <div class="spinner-border text-primary" role="status"></div>
            </div>
            <p v-show="!preloader && clientes.length == 0 && search == ''" class="m-4 text-center">Nenhum cliente cadastrado no momento.</p>
            <p v-show="!preloader && $root.filter(clientes, search).length == 0 && search != ''" class="m-4 text-center">Nenhum cliente foi encontrado.</p>
		</div>
        <!-- Modal -->
        <div class="modal fade" id="visualizar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dados do cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome completo</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" disabled />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>CPF</label>
                                        <input type="text" class="form-control" v-model="dataModal.cpf" disabled />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Data de nascimento</label>
                                        <input type="text" class="form-control" v-model="dataModal.dataNascimento" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefone</label>
                                <input type="text" class="form-control" v-model="dataModal.telefone" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Celular</label>
                                <input type="text" class="form-control" v-model="dataModal.celular" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-mail</label>
                                <input type="email" class="form-control" v-model="dataModal.email" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Endereço</label>
                                <input type="text" class="form-control" v-model="dataModal.endereco" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cidade</label>
                                <input type="text" class="form-control" v-model="dataModal.cidade" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Estado</label>
                                <input type="text" class="form-control" v-model="dataModal.estado" disabled />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" v-modal>
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" v-on:submit="cadastrar">
                    <div class="modal-header">
                        <h5 class="modal-title">Cadastrar cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome completo</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" autofocus required />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>CPF</label>
                                        <input type="text" class="form-control" v-model="dataModal.cpf" v-mask="'000.000.000-00'" placeholder="___.___.___-__" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Data de nascimento</label>
                                        <input type="text" class="form-control" v-model="dataModal.dataNascimento" v-mask="'00/00/0000'" placeholder="__/__/____" v-datepicker required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefone</label>
                                <input type="text" class="form-control" v-model="dataModal.telefone" v-mask="'(00) 0000-0000'" placeholder="(__) ____-____" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Celular</label>
                                <input type="text" class="form-control" v-model="dataModal.celular" v-mask="'celphone'" placeholder="(__) _____-____" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-mail</label>
                                <input type="email" class="form-control" v-model="dataModal.email" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Endereço</label>
                                <input type="text" class="form-control" v-model="dataModal.endereco" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cidade</label>
                                <input type="text" class="form-control" v-model="dataModal.cidade" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Estado</label>
                                <select class="form-control" v-model="dataModal.estado" required>
                                    <option value="">Selecione</option>
                                    <option v-for="(value, key) in $root.estadosBrasileiros" v-bind:value="key" v-bind:key="key">{{value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alterar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" v-on:submit="alterar">
                    <div class="modal-header">
                        <h5 class="modal-title">Alterar dados do cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome completo</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" v-on:keyup="validaDados" required />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>CPF</label>
                                        <input type="text" class="form-control" v-model="dataModal.cpf" v-on:keyup="validaDados" v-mask="'000.000.000-00'" placeholder="___.___.___-__" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Data de nascimento</label>
                                        <input type="text" class="form-control" v-model="dataModal.dataNascimento" v-on:keyup="validaDados" v-mask="'00/00/0000'" placeholder="__/__/____" v-datepicker required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefone</label>
                                <input type="text" class="form-control" v-model="dataModal.telefone" v-on:keyup="validaDados" v-mask="'(00) 0000-0000'" placeholder="(__) ____-____" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Celular</label>
                                <input type="text" class="form-control" v-model="dataModal.celular" v-on:keyup="validaDados" v-mask="'celphone'" placeholder="(__) _____-____" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-mail</label>
                                <input type="email" class="form-control" v-model="dataModal.email" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Endereço</label>
                                <input type="text" class="form-control" v-model="dataModal.endereco" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cidade</label>
                                <input type="text" class="form-control" v-model="dataModal.cidade" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Estado</label>
                                <select class="form-control" v-model="dataModal.estado" v-on:change="validaDados">
                                    <option v-for="(value, key) in $root.estadosBrasileiros" v-bind:value="key" v-bind:key="key">{{value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" disabled>Salvar alterações</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import $ from 'jquery';
    import firebase from 'firebase/app';
    export default {
        name: 'ClientesView',
        data() {
            return {
                title: 'Clientes',
                preloader: true,
                search: '',
                clientes: [],
                dataModal: {}
            };
        },
        mounted() {
            const self = this;
            firebase.firestore().collection('clientes').orderBy('dataInclusao', 'desc').get()
            .then(function(docs){
                docs.forEach(function(doc){
                    var cliente = doc.data();
                    cliente.id = doc.id;
                    self.clientes.push(cliente);
                });
                self.preloader = false;
            })
            .catch(function(error){
                self.$root.notify('Erro na aplicação! Não foi possível carregar os clientes. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                console.log(error);
            });
        },
        methods: {
            cadastrar(e) {
                e.preventDefault();
                const self = this;
                let $button = $('#cadastrar button[type="submit"]');
                $button.attr('disabled', true);
                self.$root.preloaderStart(function(){
                    if (self.$root.isCPFValid(self.dataModal.cpf)) {
                        firebase.firestore().collection('clientes').where('cpf', '==', self.dataModal.cpf).get()
                        .then(function(res){
                            if (res.empty) {
                                self.dataModal.dataInclusao = new Date();
                                firebase.firestore().collection('clientes').add(self.dataModal)
                                .then(function(doc){
                                    self.$root.preloaderEnd();
                                    self.dataModal.id = doc.id;
                                    firebase.firestore().collection('logs').add({
                                        idUsuario: self.$root.usuario.id,
                                        idRegistro: self.dataModal.id,
                                        dataLog: new Date(),
                                        tabela: 'clientes',
                                        tipoLog: 1
                                    });
                                    self.clientes.splice(0, 0, self.dataModal);
                                    self.$root.notify('Cliente cadastrado com sucesso!', 'sucesso');
                                    $('.modal').modal('hide');
                                })
                                .catch(function(error){
                                    self.$root.preloaderEnd();
                                    self.$root.notify('Erro na aplicação! Não foi possível cadastrar o cliente. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                    console.log(error);
                                });
                            } else {
                                self.$root.preloaderEnd();
                                self.$root.notify('O CPF inserido já existe cadastrado no sistema!', 'aviso');
                            }
                        })
                        .catch(function(error){
                            self.$root.preloaderEnd();
                            self.$root.notify('Erro na aplicação! Não foi possível cadastrar o cliente. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                            console.log(error);
                        });
                    } else {
                        self.$root.preloaderEnd();
                        self.$root.notify('O CPF inserido é inválido!', 'aviso');
                    }
                    $button.attr('disabled', false);
                });
            },
            alterar(e) {
                e.preventDefault();
                const self = this;
                let $button = $('#alterar button[type="submit"]');
                $button.attr('disabled', true);
                self.$root.preloaderStart(function(){
                    if (self.$root.isCPFValid(self.dataModal.cpf)) {
                        firebase.firestore().collection('clientes').where('cpf', '==', self.dataModal.cpf).get()
                        .then(function(res){
                            if (res.empty || res.docs[0].id == self.dataModal.id) {
                                var originalData = JSON.clone(self.dataModal.origin);
                                var updatedData = JSON.clone(self.dataModal);
                                updatedData.dataAlteracao = new Date();
                                self.$root.removeKeys(['id']).from(originalData);
                                self.$root.removeKeys(['id', 'origin']).from(updatedData);
                                firebase.firestore().doc('clientes/' + self.dataModal.id).update(updatedData)
                                .then(function(){
                                    self.$root.preloaderEnd();
                                    self.clientes.forEach(function(cliente, index){
                                        if (cliente.id == self.dataModal.id) {
                                            firebase.firestore().collection('logs').add({
                                                idUsuario: self.$root.usuario.id,
                                                idRegistro: self.dataModal.id,
                                                dadosAtualizados: updatedData,
                                                dadosOriginais: originalData,
                                                dataLog: new Date(),
                                                tabela: 'clientes',
                                                tipoLog: 2
                                            });
                                            updatedData.id = self.dataModal.id;
                                            self.clientes.splice(index, 1, updatedData);
                                        }
                                    });
                                    self.$root.notify('Alterações salvas com sucesso!', 'sucesso');
                                    $('.modal').modal('hide');
                                })
                                .catch(function(error){
                                    self.$root.preloaderEnd();
                                    self.$root.notify('Erro na aplicação! Não foi possível salvar as alterações do cliente. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                    console.log(error);
                                });
                            } else {
                                self.$root.preloaderEnd();
                                self.$root.notify('O CPF inserido já existe cadastrado no sistema!', 'aviso');
                            }
                        })
                        .catch(function(error){
                            self.$root.preloaderEnd();
                            self.$root.notify('Erro na aplicação! Não foi possível cadastrar o cliente. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                            console.log(error);
                        });
                    } else {
                        self.$root.preloaderEnd();
                        self.$root.notify('O CPF inserido é inválido!', 'aviso');
                    }
                    $button.attr('disabled', false);
                });
            },
            deletar(id) {
                const self = this;
                self.$root.preloaderStart(function(){
                    firebase.firestore().doc('clientes/' + id).delete()
                    .then(function(){
                        self.$root.preloaderEnd();
                        self.clientes.forEach(function(cliente, index){
                            if (cliente.id == id) {
                                var originalData = JSON.clone(cliente);
                                self.$root.removeKeys(['id']).from(originalData);
                                firebase.firestore().collection('logs').add({
                                    idUsuario: self.$root.usuario.id,
                                    idRegistro: id,
                                    dadosOriginais: originalData,
                                    dataLog: new Date(),
                                    tabela: 'clientes',
                                    tipoLog: 3
                                });
                                self.clientes.splice(index, 1);
                            }
                        });
                        self.$root.notify('Cliente deletado com sucesso!', 'sucesso');
                    })
                    .catch(function(error){
                        self.$root.preloaderEnd();
                        self.$root.notify('Erro na aplicação! Não foi possível deletar o cliente. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                        console.log(error);
                    });
                });
            },
            validaDados(e) {
                if (e.key != 'Enter') {
                    const self = this;
                    let $button = $('#alterar button[type="submit"]');
                    let data = JSON.clone(self.dataModal);
                    let originData = JSON.clone(data.origin);
                    self.$root.removeKeys(['origin', 'telefone']).from(data);
                    $button.attr('disabled', true);
                    for (var key in data) {
                        if (data[key] != '' && data[key] != originData[key]) {
                            $button.attr('disabled', false);
                        }
                    }
                }
            }
        }
    };
</script>

<style scoped>
    table td {
        vertical-align: middle;
    }
    table th:first-child,
    table td:first-child {
        padding-left: 20px;
    }
    table th:last-child,
    table td:last-child {
        padding-right: 20px;
    }
</style>
