<template>
	<div id="configuracoes">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body border-bottom">
				<h4 class="card-title m-0">Meus dados</h4>
			</div>
			<form class="m-4" v-on:submit="alterar">
				<!--readonly-->
				<div class="form-group row">
					<label for="dataNome" class="col-sm-4 col-form-label">Nome completo</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="dataNome" v-model="data.nome" v-on:keyup="validaDados" />
					</div>
				</div>
				<div class="form-group row">
					<label for="dataUsuario" class="col-sm-4 col-form-label">Nome de usuário</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="dataUsuario" v-model="data.usuario" v-on:keyup="validaDados" />
					</div>
				</div>
				<div class="form-group row">
					<label for="dataNovaSenha" class="col-sm-4 col-form-label">Nova senha</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="dataNovaSenha" v-model="data.novaSenha" v-on:keyup="validaDados" />
					</div>
				</div>
				<div class="form-group row">
					<label for="dataConfirmarNovaSenha" class="col-sm-4 col-form-label">Confirmar nova senha</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="dataConfirmarNovaSenha" v-model="data.confirmarNovaSenha" v-on:keyup="validaDados" />
					</div>
				</div>
				<div class="form-group row">
					<label for="dataEmail" class="col-sm-4 col-form-label">E-mail de recuperação</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" id="dataEmail" v-model="data.email" v-on:keyup="validaDados" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary float-right" disabled>Salvar alterações</button>
			</form>
<!--			<div class="card-body">-->
<!--                <div class="d-flex align-items-center justify-content-between">-->
<!--                    <h4 class="card-title m-0">Meus dados</h4>-->
<!--                </div>-->
<!--			</div>-->
		</div>
	</div>
</template>

<script>
	/* eslint-disable */
	import $ from 'jquery';
	import firebase from 'firebase/app';
	export default {
		name: 'ConfiguracoesView',
		data() {
			return {
				title: 'Configurações',
				data: JSON.clone(this.$root.usuario)
			};
		},
		methods: {
			alterar(e) {
				e.preventDefault();
				const self = this;
                let $button = $('button[type="submit"]');
                $button.attr('disabled', true);
				self.$root.preloaderStart(function(){
					var pass = true;
					var updatedData = JSON.clone(self.data);
					updatedData.dataAlteracao = new Date();
					if (updatedData.novaSenha != null || updatedData.confirmarNovaSenha != null) {
						if (updatedData.novaSenha == updatedData.confirmarNovaSenha) {
							updatedData.senha = updatedData.novaSenha;
						} else {
							self.$root.preloaderEnd();
							self.$root.notify('Senhas não coincidem', 'aviso');
							pass = false;
						}
					}
					self.$root.removeKeys(['id', 'novaSenha', 'confirmarNovaSenha']).from(updatedData);
					if (pass) {
						firebase.firestore().doc('usuarios/' + self.data.id).update(updatedData)
						.then(function(){
							self.$root.preloaderEnd();
							self.$root.removeKeys(['dataAlteracao']).from(updatedData);
							updatedData.id = self.data.id;
							self.data = JSON.clone(updatedData);
							self.$root.usuario = updatedData;
							self.$cookie.set('session', JSON.stringify(updatedData), 1);
							self.$root.notify('Alterações salvas com sucesso!', 'sucesso');
						})
						.catch(function(error){
							self.$root.preloaderEnd();
							console.log(error);
						});
					}
				});
			},
			validaDados(e, i, b) {
				if (e.key != 'Enter') {
					const self = this;
					let $button = $('button[type="submit"]');
					$button.attr('disabled', true);
					for (var key in self.$root.usuario) {
						if (self.data[key] != '' && self.data[key] != self.$root.usuario[key] && key != 'permissoes') {
							$button.attr('disabled', false);
						}
					}
					['novaSenha', 'confirmarNovaSenha'].forEach(function(key){
						if (self.data[key] != null && self.data[key] != '') {
							$button.attr('disabled', false);
						}
					});
				}
            }
		}
	};
</script>

<style scoped>
	label {
		font-weight: bold;
	}
</style>
