<template>
    <div id="estoque">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title m-0">Todos os produtos</h4>
                    <form class="ml-auto mr-4">
                        <div class="input-group d-flex align-items-center">
                            <i class="material-icons info mr-2" tooltip-placement="top" v-tooltip-title="'A pesquisa pode ser realizada a partir de qualquer informação do produto.<br /> Ex: nome, telefone, e-mail, endereço, CPF, etc.'"></i>
                            <input type="text" class="form-control" v-model="search" placeholder="Buscar produto" />
                        </div>
                    </form>
                    <a href="#cadastrar" v-on:click="dataModal = {categoria: ''}" data-toggle="modal" class="btn btn-link text-primary p-0" tooltip-placement="top" v-tooltip-title="'Cadastrar produto'"><i class="material-icons add_circle"></i></a>
                </div>
			</div>
            <table class="table table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th style="width: 150px" scope="col">Código</th>
                        <th style="width: 142px" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="produto in $root.filter(produtos, search)" v-bind:key="produto.id">
                        <td>{{produto.nome}}</td>
                        <td>{{produto.codigo}}</td>
                        <td>
                            <a href="#visualizar" v-on:click="dataModal = produto" data-toggle="modal" class="btn btn-link text-secondary p-0 mt-1 mr-3" tooltip-placement="top" v-tooltip-title="'Visualizar dados'"><i class="material-icons remove_red_eye"></i></a>
                            <a href="#alterar" v-on:click="openModalAlterar(produto); validaDados({})" data-toggle="modal" class="btn btn-link text-primary p-0 mt-1" tooltip-placement="top" v-tooltip-title="'Alterar dados'"><i class="material-icons edit"></i></a>
                            <a href="#" data-toggle="modal" v-bind:id="produto.id" class="btn btn-link text-danger p-0 mt-1 ml-3" tooltip-placement="top" v-tooltip-title="'Deletar produto'" popover-placement="top" v-popover-title="'Deseja mesmo deletar este produto?'" popover-content="confirm-delete"><i class="material-icons delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="preloader-container" v-show="preloader">
                <div class="spinner-border text-primary" role="status"></div>
            </div>
            <p v-show="!preloader && produtos.length == 0 && search == ''" class="m-4 text-center">Nenhum produto cadastrado no momento.</p>
            <p v-show="!preloader && $root.filter(produtos, search).length == 0 && search != ''" class="m-4 text-center">Nenhum produto foi encontrado.</p>
		</div>
        <!-- Modal -->
        <div class="modal fade" id="visualizar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dados do produto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome do produto</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Código do produto</label>
                                <input type="text" class="form-control" v-model="dataModal.codigo" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Código de barras</label>
                                <input type="text" class="form-control" v-model="dataModal.codigoDeBarras" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Categoria</label>
                                <input type="text" class="form-control" v-model="dataModal.categoria" disabled />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Valor de venda</label>
                                        <input type="text" class="form-control" v-model="dataModal.valorDeVenda" disabled />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Valor de custo</label>
                                        <input type="text" class="form-control" v-model="dataModal.valorDeCusto" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantidade em estoque</label>
                                <input type="text" class="form-control" v-model="dataModal.quantidadeEmEstoque" disabled />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" v-modal>
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" v-on:submit="cadastrar">
                    <div class="modal-header">
                        <h5 class="modal-title">Cadastrar produto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome do produto</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" autofocus required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Código de barras</label>
                                <input type="text" class="form-control" v-model="dataModal.codigoDeBarras" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Valor de venda</label>
                                <input type="text" class="form-control valorDeVenda" v-mask="'money'" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Valor de custo</label>
                                <input type="text" class="form-control valorDeCusto" v-mask="'money'" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Categoria</label>
                                <select class="form-control" v-model="dataModal.categoria" required>
                                    <option value="">Selecione</option>
                                    <option v-for="categoria in categorias" v-bind:value="categoria" v-bind:key="categoria">{{categoria}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantidade em estoque</label>
                                <input type="number" class="form-control" v-model="dataModal.quantidadeEmEstoque" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alterar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" v-on:submit="alterar">
                    <div class="modal-header">
                        <h5 class="modal-title">Alterar dados do produto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome do produto</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Código de barras</label>
                                <input type="text" class="form-control" v-model="dataModal.codigoDeBarras" v-on:keyup="validaDados" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Valor de venda</label>
                                <input type="text" class="form-control valorDeVenda" v-on:keyup="validaDados" v-mask="'money'" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Valor de custo</label>
                                <input type="text" class="form-control valorDeCusto" v-on:keyup="validaDados" v-mask="'money'" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Categoria</label>
                                <select class="form-control" v-model="dataModal.categoria" v-on:change="validaDados">
                                    <option v-for="categoria in categorias" v-bind:value="categoria" v-bind:key="categoria">{{categoria}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantidade em estoque</label>
                                <input type="number" class="form-control" v-model="dataModal.quantidadeEmEstoque" v-on:keyup="validaDados" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" disabled>Salvar alterações</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import $ from 'jquery';
    import firebase from 'firebase/app';
    import moment from 'moment';
    export default {
        name: 'EstoqueView',
        data() {
            return {
                title: 'Estoque',
                preloader: true,
                search: '',
                produtos: [],
                categorias: ['Cabelo', 'Rosto', 'Corpo'],
                dataModal: {}
            };
        },
        mounted() {
            const self = this;
            firebase.firestore().collection('produtos').orderBy('dataInclusao', 'desc').get()
            .then(function(docs){
                docs.forEach(function(doc){
                    var produto = doc.data();
                    produto.id = doc.id;
                    self.produtos.push(produto);
                });
                self.preloader = false;
            })
            .catch(function(error){
                self.$root.notify('Erro na aplicação! Não foi possível carregar os produtos. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                console.log(error);
            });
        },
        methods: {
            cadastrar(e) {
                e.preventDefault();
                const self = this;
                let $button = $('#cadastrar button[type="submit"]');
                $button.attr('disabled', true);
                self.$root.preloaderStart(function(){
                    var newDate = new Date();
                    self.dataModal.dataInclusao = newDate;
                    self.dataModal.codigo = moment(newDate).format('DDHHMMmmYYss');
                    self.dataModal.valorDeVenda = $('#cadastrar .valorDeVenda').val();
                    self.dataModal.valorDeCusto = $('#cadastrar .valorDeCusto').val();
                    firebase.firestore().collection('produtos').add(self.dataModal)
                    .then(function(doc){
                        self.$root.preloaderEnd();
                        self.dataModal.id = doc.id;
                        firebase.firestore().collection('logs').add({
                            idUsuario: self.$root.usuario.id,
                            idRegistro: self.dataModal.id,
                            dataLog: new Date(),
                            tabela: 'produtos',
                            tipoLog: 1
                        });
                        self.produtos.splice(0, 0, self.dataModal);
                        self.$root.notify('Produto cadastrado com sucesso!', 'sucesso');
                        $('.modal').modal('hide');
                    })
                    .catch(function(error){
                        self.$root.preloaderEnd();
                        self.$root.notify('Erro na aplicação! Não foi possível cadastrar o produto. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                        console.log(error);
                    });
                    $button.attr('disabled', false);
                });
            },
            alterar(e) {
                e.preventDefault();
                const self = this;
                let $button = $('#alterar button[type="submit"]');
                $button.attr('disabled', true);
                self.$root.preloaderStart(function(){
                    self.dataModal.valorDeVenda = $('#alterar .valorDeVenda').val();
                    self.dataModal.valorDeCusto = $('#alterar .valorDeCusto').val();
                    var originalData = JSON.clone(self.dataModal.origin);
                    var updatedData = JSON.clone(self.dataModal);
                    updatedData.dataAlteracao = new Date();
                    self.$root.removeKeys(['id']).from(originalData);
                    self.$root.removeKeys(['id', 'origin']).from(updatedData);
                    firebase.firestore().doc('produtos/' + self.dataModal.id).update(updatedData)
                    .then(function(){
                        self.$root.preloaderEnd();
                        self.produtos.forEach(function(produto, index){
                            if (produto.id == self.dataModal.id) {
                                firebase.firestore().collection('logs').add({
                                    idUsuario: self.$root.usuario.id,
                                    idRegistro: self.dataModal.id,
                                    dadosAtualizados: updatedData,
                                    dadosOriginais: originalData,
                                    dataLog: new Date(),
                                    tabela: 'produtos',
                                    tipoLog: 2
                                });
                                updatedData.id = self.dataModal.id;
                                self.produtos.splice(index, 1, updatedData);
                            }
                        });
                        self.$root.notify('Alterações salvas com sucesso!', 'sucesso');
                        $('.modal').modal('hide');
                    })
                    .catch(function(error){
                        self.$root.preloaderEnd();
                        self.$root.notify('Erro na aplicação! Não foi possível salvar as alterações do produto. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                        console.log(error);
                    });
                    $button.attr('disabled', false);
                });
            },
            deletar(id) {
                const self = this;
                self.$root.preloaderStart(function(){
                    firebase.firestore().doc('produtos/' + id).delete()
                    .then(function(){
                        self.$root.preloaderEnd();
                        self.produtos.forEach(function(produto, index){
                            if (produto.id == id) {
                                var originalData = JSON.clone(produto);
                                self.$root.removeKeys(['id']).from(originalData);
                                firebase.firestore().collection('logs').add({
                                    idUsuario: self.$root.usuario.id,
                                    idRegistro: id,
                                    dadosOriginais: originalData,
                                    dataLog: new Date(),
                                    tabela: 'produtos',
                                    tipoLog: 3
                                });
                                self.produtos.splice(index, 1);
                            }
                        });
                        self.$root.notify('Produto deletado com sucesso!', 'sucesso');
                    })
                    .catch(function(error){
                        self.$root.preloaderEnd();
                        self.$root.notify('Erro na aplicação! Não foi possível deletar o produto. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                        console.log(error);
                    });
                });
            },
            validaDados(e) {
                if (e.key != 'Enter') {
                    const self = this;
                    let $button = $('#alterar button[type="submit"]');
                    self.dataModal.valorDeVenda = $('#alterar .valorDeVenda').val();
                    self.dataModal.valorDeCusto = $('#alterar .valorDeCusto').val();
                    let data = JSON.clone(self.dataModal);
                    let originData = JSON.clone(data.origin);
                    self.$root.removeKeys(['origin', 'codigoDeBarras']).from(data);
                    $button.attr('disabled', true);
                    for (var key in data) {
                        if (data[key] != '' && data[key] != originData[key]) {
                            $button.attr('disabled', false);
                        }
                    }
                }
            },
            openModalAlterar(produto) {
                this.dataModal = JSON.clone(produto);
                this.dataModal.origin = JSON.clone(produto);
                $('#alterar .valorDeVenda').val(produto.valorDeVenda);
                $('#alterar .valorDeCusto').val(produto.valorDeCusto);
            }
        }
    };
</script>

<style scoped>
    table td {
        vertical-align: middle;
    }
    table th:first-child,
    table td:first-child {
        padding-left: 20px;
    }
    table th:last-child,
    table td:last-child {
        padding-right: 20px;
    }
</style>
