<template>
	<div id="login" class="bg-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-5">
					<div class="card mt-5">
						<div class="card-header">Login</div>
						<div class="card-body">
							<form v-on:submit="login">
								<div class="form-group">
									<input type="text" class="form-control" v-model="usuario" placeholder="Usuário" required autofocus />
								</div>
								<div class="form-group">
									<input type="password" class="form-control" v-model="senha" placeholder="Senha" required />
								</div>
								<div class="form-group">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="check">
										<label class="custom-control-label" for="check">Lembre-me da senha</label>
									</div>
								</div>
								<button type="submit" class="btn btn-block btn-primary">Login</button>
							</form>
							<div class="text-center">
								<a href="#" class="d-block small mt-3">Esqueceu a senha?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	/* eslint-disable */
	import $ from 'jquery';
	import firebase from 'firebase/app';
	export default {
		name: 'LoginView',
		data() {
			return {
				usuario: null,
				senha: null
			};
		},
		methods: {
			login(e) {
				e.preventDefault();
				const self = this;
                let $button = $('button[type="submit"]');
                $button.attr('disabled', true);
				self.$root.preloaderStart(function(){
					firebase.firestore().collection('usuarios')
					.where('usuario', '==', self.usuario)
					.where('senha', '==', self.senha).get()
					.then(function(docs){
						self.$root.preloaderEnd();
						if (docs.empty) {
							self.$root.notify('Usuário ou senha inválido!', 'info');
						} else {
							docs.forEach(function(doc){
								var usuario = doc.data();
								usuario.id = doc.id;
								self.$root.removeKeys(['dataInclusao', 'dataAlteracao']).from(usuario);
								Object.assign(self.$root.usuario, usuario);
								self.$cookie.set('session', JSON.stringify(usuario), 1);
								self.$root.notify('Login efetuado com sucesso!', 'sucesso');
								self.$root.authentication();
							});
						}
					})
					.catch(function(error){
						self.$root.preloaderEnd();
						console.log(error);
					});
					$button.attr('disabled', false);
				});
			}
		}
	};
</script>

<style scoped>
	#login {
		height: 100%;
	}
</style>