<template>
    <div id="logs">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
		<div class="card">
			<!--<div class="card-body">-->
			<!--	<h4 class="card-title">Registro de atividades</h4>-->
			<!--	<p class="card-text">Texto.</p>-->
			<!--</div>-->
			<div class="card-body border-bottom">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title m-0">Registro de atividades</h4>
                    <form class="ml-auto">
                        <div class="input-group d-flex align-items-center">
                            <i class="material-icons info mr-2" tooltip-placement="top" v-tooltip-title="'A pesquisa pode ser realizada a partir da descrição, data e/ou hora do resgistro/log.'"></i>
                            <input type="text" class="form-control" v-model="search" placeholder="Pesquisar" />
                        </div>
                    </form>
                </div>
			</div>
            <ul class="list-group list-group-flush">
                <li v-for="log in $root.filter(logs, search)" v-bind:key="log.id" class="list-group-item list-group-item-action d-flex justify-content-between">
                    <span>{{log.desc}}</span>
                    <span>{{log.dataLog}}</span>
                </li>
            </ul>
            <div class="preloader-container" v-show="preloader">
                <div class="spinner-border text-primary" role="status"></div>
            </div>
            <p v-show="!preloader && logs.length == 0 && search == ''" class="m-4 text-center">Não há registros no momento.</p>
            <p v-show="!preloader && $root.filter(logs, search).length == 0 && search != ''" class="m-4 text-center">Nenhum registro foi encontrado.</p>
		</div>
    </div>
</template>

<script>
    /* eslint-disable */
    //import $ from 'jquery';
    import firebase from 'firebase/app';
    import moment from 'moment';
    export default {
        name: 'LogsView',
        data() {
            return {
                title: 'Logs',
                preloader: true,
                search: '',
                logs: []
            };
        },
        mounted() {
            const self = this;
            firebase.firestore().collection('logs').orderBy('dataLog', 'desc').get()
            .then(function(docs){
                docs.forEach(function(doc){
                    var log = doc.data();
                    log.id = doc.id;
                    log.desc = self.$root.usuario.nome;
                    switch (log.tipoLog) {
                        case 1: log.desc += ' cadastrou um novo'; break;
                        case 2: log.desc += ' alterou um'; break;
                        case 3: log.desc += ' deletou um'; break;
                    }
                    switch (log.tabela) {
                        case 'clientes': log.desc += ' cliente.'; break;
                        case 'profissionais': log.desc += ' profissional.'; break;
                        case 'produtos': log.desc += ' produto.'; break;
                        case 'usuarios': log.desc += ' usuário.'; break;
                    }
                    log.dataLog = moment(log.dataLog.toDate()).format('DD/MM/YYYY HH:mm:ss');
                    self.logs.push(log);
                });
                self.preloader = false;
            })
            .catch(function(error){
                console.log(error);
            });
        }
    };
</script>

<style scoped></style>
