<template>
    <div id="page404">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
        <div class="text-center mt-5">
            <h1>{{title}}</h1>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Page404View',
        data() {
            return {
                title: '404 - Página não encontrada'
            };
        }
    };
</script>

<style scoped></style>