<template>
    <div id="semPermissao">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
        <div class="text-center mt-5">
            <h1>{{title}}</h1>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SemPermissaoView',
        data() {
            return {
                title: 'Sem permissão!'
            };
        }
    };
</script>

<style scoped></style>