<template>
    <div id="usuarios">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active">{{title}}</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title m-0">Todos os usuarios</h4>
                    <form class="ml-auto mr-4">
                        <div class="input-group d-flex align-items-center">
                            <i class="material-icons info mr-2" tooltip-placement="top" v-tooltip-title="'A pesquisa pode ser realizada a partir de qualquer informação do usuario.<br /> Ex: nome, telefone, e-mail, endereço, CPF, etc.'"></i>
                            <input type="text" class="form-control" v-model="search" placeholder="Buscar usuario" />
                        </div>
                    </form>
                    <a href="#cadastrar" v-on:click="openModalCadastrar" data-toggle="modal" class="btn btn-link text-primary p-0" tooltip-placement="top" v-tooltip-title="'Cadastrar usuario'"><i class="material-icons person_add"></i></a>
                </div>
			</div>
            <table class="table table-hover m-0">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th style="width: 150px" scope="col">CPF</th>
                        <th style="width: 142px" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="usuario in $root.filter(usuarios, search)" v-bind:key="usuario.id">
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.cpf}}</td>
                        <td>
                            <a href="#visualizar" v-on:click="openModalVisualizar(usuario)" data-toggle="modal" class="btn btn-link text-secondary p-0 mt-1 mr-3" tooltip-placement="top" v-tooltip-title="'Visualizar dados'"><i class="material-icons remove_red_eye"></i></a>
                            <a href="#alterar" v-on:click="openModalAlterar(usuario)" data-toggle="modal" class="btn btn-link text-primary p-0 mt-1" tooltip-placement="top" v-tooltip-title="'Alterar dados'"><i class="material-icons edit"></i></a>
                            <a href="#" data-toggle="modal" v-bind:id="usuario.id" class="btn btn-link text-danger p-0 mt-1 ml-3" tooltip-placement="top" v-tooltip-title="'Deletar usuario'" popover-placement="top" v-popover-title="'Deseja mesmo deletar este usuario?'" popover-content="confirm-delete"><i class="material-icons delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="preloader-container" v-show="preloader">
                <div class="spinner-border text-primary" role="status"></div>
            </div>
            <p v-show="!preloader && usuarios.length == 0 && search == ''" class="m-4 text-center">Nenhum usuario cadastrado no momento.</p>
            <p v-show="!preloader && $root.filter(usuarios, search).length == 0 && search != ''" class="m-4 text-center">Nenhum usuario foi encontrado.</p>
		</div>
        <!-- Modal -->
        <div class="modal fade" id="visualizar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Dados do usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome completo</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" disabled />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>CPF</label>
                                        <input type="text" class="form-control" v-model="dataModal.cpf" disabled />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Data de nascimento</label>
                                        <input type="text" class="form-control" v-model="dataModal.dataNascimento" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefone</label>
                                <input type="text" class="form-control" v-model="dataModal.telefone" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Celular</label>
                                <input type="text" class="form-control" v-model="dataModal.celular" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-mail de recuperação da conta</label>
                                <input type="email" class="form-control" v-model="dataModal.email" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Endereço</label>
                                <input type="text" class="form-control" v-model="dataModal.endereco" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cidade</label>
                                <input type="text" class="form-control" v-model="dataModal.cidade" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Estado</label>
                                <input type="text" class="form-control" v-model="dataModal.estado" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nome de usuário</label>
                                <input type="text" class="form-control" v-model="dataModal.usuario" disabled />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Tipo da conta</label>
                                <input type="text" class="form-control" v-model="dataModal.tipoConta" disabled />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Permissões de gerenciamento</label>
                                <input type="text" class="form-control" v-bind:value="dataModal.permissoes" disabled />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" v-modal>
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" v-on:submit="cadastrar">
                    <div class="modal-header">
                        <h5 class="modal-title">Cadastrar usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome completo</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" autofocus required />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>CPF</label>
                                        <input type="text" class="form-control" v-model="dataModal.cpf" v-mask="'000.000.000-00'" placeholder="___.___.___-__" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Data de nascimento</label>
                                        <input type="text" class="form-control" v-model="dataModal.dataNascimento" v-mask="'00/00/0000'" placeholder="__/__/____" v-datepicker required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefone</label>
                                <input type="text" class="form-control" v-model="dataModal.telefone" v-mask="'(00) 0000-0000'" placeholder="(__) ____-____" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Celular</label>
                                <input type="text" class="form-control" v-model="dataModal.celular" v-mask="'celphone'" placeholder="(__) _____-____" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-mail de recuperação da conta</label>
                                <input type="email" class="form-control" v-model="dataModal.email" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Endereço</label>
                                <input type="text" class="form-control" v-model="dataModal.endereco" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cidade</label>
                                <input type="text" class="form-control" v-model="dataModal.cidade" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Estado</label>
                                <select class="form-control" v-model="dataModal.estado" required>
                                    <option value="">Selecione</option>
                                    <option v-for="(value, key) in $root.estadosBrasileiros" v-bind:value="key" v-bind:key="key">{{value}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nome de usuário</label>
                                <input type="text" class="form-control" v-model="dataModal.usuario" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Senha padrão</label>
                                <input type="text" class="form-control" v-model="dataModal.senha" disabled />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="d-block">Tipo da conta</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="f1Radio1" class="custom-control-input" value="Normal" v-model="dataModal.tipoConta" v-on:change="checkboxAll(true)" />
                                    <label class="custom-control-label" for="f1Radio1">Normal</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="f1Radio2" class="custom-control-input" value="Master" v-model="dataModal.tipoConta" v-on:change="checkboxAll(true)" />
                                    <label class="custom-control-label" for="f1Radio2">Master</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12" v-show="dataModal.tipoConta == 'Normal'">
                                <label class="d-block">Permissões de gerenciamento</label>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input checkbox-all" id="f1CheckboxAll" v-on:change="checkboxAll($event.target.checked)" checked />
                                    <label class="custom-control-label" for="f1CheckboxAll">Tudo</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f1Checkbox1" v-model="dataModal.permissoes.agenda" v-on:change="checkbox()" />
                                    <label class="custom-control-label" for="f1Checkbox1">Agenda</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f1Checkbox2" v-model="dataModal.permissoes.clientes" v-on:change="checkbox()" />
                                    <label class="custom-control-label" for="f1Checkbox2">Clientes</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f1Checkbox3" v-model="dataModal.permissoes.profissionais" v-on:change="checkbox()" />
                                    <label class="custom-control-label" for="f1Checkbox3">Profissionais</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f1Checkbox4" v-model="dataModal.permissoes.estoque" v-on:change="checkbox()" />
                                    <label class="custom-control-label" for="f1Checkbox4">Estoque</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alterar" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <form class="modal-content" v-on:submit="alterar">
                    <div class="modal-header">
                        <h5 class="modal-title">Alterar dados do usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nome completo</label>
                                <input type="text" class="form-control" v-model="dataModal.nome" v-on:keyup="validaDados" required />
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>CPF</label>
                                        <input type="text" class="form-control" v-model="dataModal.cpf" v-on:keyup="validaDados" v-mask="'000.000.000-00'" placeholder="___.___.___-__" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Data de nascimento</label>
                                        <input type="text" class="form-control" v-model="dataModal.dataNascimento" v-on:keyup="validaDados" v-mask="'00/00/0000'" placeholder="__/__/____" v-datepicker required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Telefone</label>
                                <input type="text" class="form-control" v-model="dataModal.telefone" v-on:keyup="validaDados" v-mask="'(00) 0000-0000'" placeholder="(__) ____-____" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Celular</label>
                                <input type="text" class="form-control" v-model="dataModal.celular" v-on:keyup="validaDados" v-mask="'celphone'" placeholder="(__) _____-____" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>E-mail de recuperação da conta</label>
                                <input type="email" class="form-control" v-model="dataModal.email" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Endereço</label>
                                <input type="text" class="form-control" v-model="dataModal.endereco" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cidade</label>
                                <input type="text" class="form-control" v-model="dataModal.cidade" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Estado</label>
                                <select class="form-control" v-model="dataModal.estado" v-on:change="validaDados">
                                    <option v-for="(value, key) in $root.estadosBrasileiros" v-bind:value="key" v-bind:key="key">{{value}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nome de usuário</label>
                                <input type="text" class="form-control" v-model="dataModal.usuario" v-on:keyup="validaDados" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Nova senha</label>
                                <input type="text" class="form-control" v-model="dataModal.novaSenha" v-on:keyup="validaDados" />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="d-block">Tipo da conta</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="f2Radio1" class="custom-control-input" value="Normal" v-model="dataModal.tipoConta" v-on:change="checkboxAll(true); validaDados({})" />
                                    <label class="custom-control-label" for="f2Radio1">Normal</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="f2Radio2" class="custom-control-input" value="Master" v-model="dataModal.tipoConta" v-on:change="checkboxAll(true); validaDados({})" />
                                    <label class="custom-control-label" for="f2Radio2">Master</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12" v-show="dataModal.tipoConta == 'Normal'">
                                <label class="d-block">Permissões de gerenciamento</label>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input checkbox-all" id="f2CheckboxAll" v-on:change="checkboxAll($event.target.checked); validaDados({})" checked />
                                    <label class="custom-control-label" for="f2CheckboxAll">Tudo</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f2Checkbox1" v-model="dataModal.permissoes.agenda" v-on:change="checkbox(); validaDados({})" />
                                    <label class="custom-control-label" for="f2Checkbox1">Agenda</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f2Checkbox2" v-model="dataModal.permissoes.clientes" v-on:change="checkbox(); validaDados({})" />
                                    <label class="custom-control-label" for="f2Checkbox2">Clientes</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f2Checkbox3" v-model="dataModal.permissoes.profissionais" v-on:change="checkbox(); validaDados({})" />
                                    <label class="custom-control-label" for="f2Checkbox3">Profissionais</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f2Checkbox4" v-model="dataModal.permissoes.estoque" v-on:change="checkbox(); validaDados({})" />
                                    <label class="custom-control-label" for="f2Checkbox4">Estoque</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" id="f2Checkbox5" v-model="dataModal.permissoes.relatorios" v-on:change="checkbox(); validaDados({})" />
                                    <label class="custom-control-label" for="f2Checkbox5">Relatórios</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" disabled>Salvar alterações</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import $ from 'jquery';
    import firebase from 'firebase/app';
    export default {
        name: 'UsuáriosView',
        data() {
            return {
                title: 'Usuários',
                preloader: true,
                search: '',
                usuarios: [],
                dataModal: {
                    permissoes: {
                        agenda: null,
                        clientes: null,
                        profissionais: null,
                        estoque: null
                    }
                },
                permissoes: ['Agenda', 'Clientes', 'Profissionais', 'Estoque', 'Relatórios']
            };
        },
        mounted() {
            const self = this;
            firebase.firestore().collection('usuarios').orderBy('dataInclusao', 'desc').get()
            .then(function(docs){
                docs.forEach(function(doc){
                    if (doc.id != self.$root.usuario.id && !doc.data().admin) {
                        var usuario = doc.data();
                        usuario.id = doc.id;
                        self.usuarios.push(usuario);
                    }
                });
                self.preloader = false;
            })
            .catch(function(error){
                self.$root.notify('Erro na aplicação! Não foi possível carregar os usuarios. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                console.log(error);
            });
        },
        methods: {
            cadastrar(e) {
                e.preventDefault();
                const self = this;
                let $button = $('#cadastrar button[type="submit"]');
                $button.attr('disabled', true);
                self.$root.preloaderStart(function(){
                    if (Object.values(self.dataModal.permissoes).includes(true)) {
                        if (self.$root.isCPFValid(self.dataModal.cpf)) {
                            firebase.firestore().collection('usuarios').where('cpf', '==', self.dataModal.cpf).get()
                            .then(function(res){
                                if (res.empty) {
                                    firebase.firestore().collection('usuarios').where('usuario', '==', self.dataModal.usuario).get()
                                    .then(function(res){
                                        if (res.empty) {
                                            self.dataModal.dataInclusao = new Date();
                                            firebase.firestore().collection('usuarios').add(self.dataModal)
                                            .then(function(doc){
                                                self.$root.preloaderEnd();
                                                self.dataModal.id = doc.id;
                                                firebase.firestore().collection('logs').add({
                                                    idUsuario: self.$root.usuario.id,
                                                    idRegistro: self.dataModal.id,
                                                    dataLog: new Date(),
                                                    tabela: 'usuarios',
                                                    tipoLog: 1
                                                });
                                                self.usuarios.splice(0, 0, self.dataModal);
                                                self.$root.notify('Usuário cadastrado com sucesso!', 'sucesso');
                                                $('.modal').modal('hide');
                                            })
                                            .catch(function(error){
                                                self.$root.preloaderEnd();
                                                self.$root.notify('Erro na aplicação! Não foi possível cadastrar o usuario. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                                console.log(error);
                                            });
                                        } else {
                                            self.$root.preloaderEnd();
                                            self.$root.notify('O nome de usuário inserido já existe cadastrado no sistema!', 'aviso');
                                        }
                                    })
                                    .catch(function(error){
                                        self.$root.preloaderEnd();
                                        self.$root.notify('Erro na aplicação! Não foi possível cadastrar o usuario. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                        console.log(error);
                                    });
                                } else {
                                    self.$root.preloaderEnd();
                                    self.$root.notify('O CPF inserido já existe cadastrado no sistema!', 'aviso');
                                }
                            })
                            .catch(function(error){
                                self.$root.preloaderEnd();
                                self.$root.notify('Erro na aplicação! Não foi possível cadastrar o usuario. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                console.log(error);
                            });
                        } else {
                            self.$root.preloaderEnd();
                            self.$root.notify('O CPF inserido é inválido!', 'aviso');
                        }
                    } else {
                        self.$root.preloaderEnd();
                        self.$root.notify('Marque no mínimo uma ou mais opções de permissões de gerenciamento para continuar!', 'aviso');
                    }
                    $button.attr('disabled', false);
                });
            },
            alterar(e) {
                e.preventDefault();
                const self = this;
                let $button = $('#alterar button[type="submit"]');
                $button.attr('disabled', true);
                self.$root.preloaderStart(function(){
                    if (Object.values(self.dataModal.permissoes).includes(true)) {
                        if (self.$root.isCPFValid(self.dataModal.cpf)) {
                            firebase.firestore().collection('usuarios').where('cpf', '==', self.dataModal.cpf).get()
                            .then(function(res){
                                if (res.empty || res.docs[0].id == self.dataModal.id) {
                                    firebase.firestore().collection('usuarios').where('usuario', '==', self.dataModal.usuario).get()
                                    .then(function(res){
                                        if (res.empty || res.docs[0].id == self.dataModal.id) {
                                            var originalData = JSON.clone(self.dataModal.origin);
                                            var updatedData = JSON.clone(self.dataModal);
                                            updatedData.dataAlteracao = new Date();
                                            if (updatedData.novaSenha) updatedData.senha = updatedData.novaSenha;
                                            self.$root.removeKeys(['id']).from(originalData);
                                            self.$root.removeKeys(['id', 'origin', 'novaSenha', 'dataInclusao']).from(updatedData);
                                            firebase.firestore().doc('usuarios/' + self.dataModal.id).update(updatedData)
                                            .then(function(){
                                                self.$root.preloaderEnd();
                                                self.usuarios.forEach(function(usuario, index){
                                                    if (usuario.id == self.dataModal.id) {
                                                        firebase.firestore().collection('logs').add({
                                                            idUsuario: self.$root.usuario.id,
                                                            idRegistro: self.dataModal.id,
                                                            dadosAtualizados: updatedData,
                                                            dadosOriginais: originalData,
                                                            dataLog: new Date(),
                                                            tabela: 'usuarios',
                                                            tipoLog: 2
                                                        });
                                                        updatedData.id = self.dataModal.id;
                                                        self.usuarios.splice(index, 1, updatedData);
                                                    }
                                                });
                                                self.$root.notify('Alterações salvas com sucesso!', 'sucesso');
                                                $('.modal').modal('hide');
                                            })
                                            .catch(function(error){
                                                self.$root.preloaderEnd();
                                                self.$root.notify('Erro na aplicação! Não foi possível salvar as alterações do usuario. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                                console.log(error);
                                            });
                                        } else {
                                            self.$root.preloaderEnd();
                                            self.$root.notify('O nome de usuário inserido já existe cadastrado no sistema!', 'aviso');
                                        }
                                    })
                                    .catch(function(error){
                                        self.$root.preloaderEnd();
                                        self.$root.notify('Erro na aplicação! Não foi possível cadastrar o usuario. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                        console.log(error);
                                    });
                                } else {
                                    self.$root.preloaderEnd();
                                    self.$root.notify('O CPF inserido já existe cadastrado no sistema!', 'aviso');
                                }
                            })
                            .catch(function(error){
                                self.$root.preloaderEnd();
                                self.$root.notify('Erro na aplicação! Não foi possível cadastrar o usuario. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                                console.log(error);
                            });
                        } else {
                            self.$root.preloaderEnd();
                            self.$root.notify('O CPF inserido é inválido!', 'aviso');
                        }
                    } else {
                        self.$root.preloaderEnd();
                        self.$root.notify('Marque no mínimo uma ou mais opções de permissões de gerenciamento para continuar!', 'aviso');
                    }
                    $button.attr('disabled', false);
                });
            },
            deletar(id) {
                const self = this;
                self.$root.preloaderStart(function(){
                    firebase.firestore().doc('usuarios/' + id).delete()
                    .then(function(){
                        self.$root.preloaderEnd();
                        self.usuarios.forEach(function(usuario, index){
                            if (usuario.id == id) {
                                var originalData = JSON.clone(usuario);
                                self.$root.removeKeys(['id']).from(originalData);
                                firebase.firestore().collection('logs').add({
                                    idUsuario: self.$root.usuario.id,
                                    idRegistro: id,
                                    dadosOriginais: originalData,
                                    dataLog: new Date(),
                                    tabela: 'usuarios',
                                    tipoLog: 3
                                });
                                self.usuarios.splice(index, 1);
                            }
                        });
                        self.$root.notify('Usuário deletado com sucesso!', 'sucesso');
                    })
                    .catch(function(error){
                        self.$root.preloaderEnd();
                        self.$root.notify('Erro na aplicação! Não foi possível deletar o usuario. Entre com contato com o suporto: distanciaweb@gmail.com', 'erro');
                        console.log(error);
                    });
                });
            },
            validaDados(e) {
                if (e.key != 'Enter' && this.dataModal.origin != undefined) {
                    const self = this;
                    let $button = $('#alterar button[type="submit"]');
                    let data = JSON.clone(self.dataModal);
                    let originData = JSON.clone(data.origin);
                    self.$root.removeKeys(['origin', 'telefone', 'dataInclusao', 'dataAlteracao']).from(data);
                    let boolean = true;
                    for (var key in data) {
                        if (data[key] != '' && data[key] != originData[key] && key != 'permissoes') boolean = false;
                    }
                    for (key in data.permissoes) {
                        if (data.permissoes[key] != originData.permissoes[key]) boolean = false;
                    }
                    if (!Object.values(data.permissoes).includes(true)) boolean = true;
                    $button.attr('disabled', boolean);
                }
            },
            openModalVisualizar(usuario) {
                this.dataModal = JSON.clone(usuario);
                let descPermissoes = [], permissoes = usuario.permissoes;
                if (permissoes.agenda) descPermissoes.push(' Agenda');
                if (permissoes.clientes) descPermissoes.push(' Clientes');
                if (permissoes.profissionais) descPermissoes.push(' Profissionais');
                if (permissoes.estoque) descPermissoes.push(' Estoque');
                if (permissoes.relatorios) descPermissoes.push(' Relatórios');
                this.dataModal.permissoes = descPermissoes;
            },
            openModalCadastrar() {
                const self = this;
                self.dataModal = {
                    estado: '',
                    senha: 'admin',
                    permissoes: {
                        agenda: true,
                        clientes: true,
                        profissionais: true,
                        estoque: true
                    },
                    tipoConta: 'Normal'
                };
                self.checkbox();
            },
            openModalAlterar(usuario) {
                this.dataModal = JSON.clone(usuario);
                this.dataModal.origin = JSON.clone(usuario);
                this.validaDados({});
                this.checkbox();
            },
            checkboxAll(boolean) {
                const self = this;
                let checked = true;
                ['agenda', 'clientes', 'profissionais', 'estoque', 'relatorios'].forEach(function(i){
                    if (boolean != undefined) {
                        self.dataModal.permissoes[i] = boolean;
                    } else if (self.dataModal.permissoes[i] == false) {
                        checked = false;
                    }
                });
                $('.checkbox-all').prop('checked', (boolean != undefined ? boolean : checked));
            },
            checkbox() {
                this.checkboxAll();
            }
        }
    };
</script>

<style scoped>
    table td {
        vertical-align: middle;
    }
    table th:first-child,
    table td:first-child {
        padding-left: 20px;
    }
    table th:last-child,
    table td:last-child {
        padding-right: 20px;
    }
</style>
