<template>
	<div id="navbar">
		<nav class="navbar navbar-expand navbar-light bg-light shadow">
			<a class="navbar-brand ml-2" href="#">Sistema</a>
			<i class="material-icons" id="sc" v-on:click="sidebarCollapse">menu</i>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown">
						<i class="material-icons account_circle mr-2"></i>
						<span class="user-name">{{$root.usuario.nome}}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
						<router-link class="dropdown-item" to="/configuracoes">Definições</router-link>
						<router-link class="dropdown-item" to="/logs" v-if="$root.usuario.tipoConta == 'Master' || $root.usuario.admin">Registro de atividades</router-link>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#logoutModal" data-toggle="modal">Sair da conta</a>
					</div>
				</li>
			</ul>
		</nav>

		<!-- Modal -->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Deseja mesmo sair da conta?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" v-on:click="logout">Sim, sair</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import $ from 'jquery';
	export default {
		name: 'NavbarComponent',
		methods: {
			sidebarCollapse() {
				$('#sidebar').toggleClass('active');
			},
			logout() {
				this.$root.usuario = {
					permissoes: {}
				};
				this.$cookie.delete('session');
				this.$router.push('/login');
				$('.modal-backdrop').remove();
				this.$root.notify('Logout efetuado com sucesso!', 'sucesso');
			}
		}
	};
</script>

<style scoped>
	#sc {
		cursor: pointer;
	}
	.user-name {
		margin-top: 2px;
		margin-right: 2px;
		font-weight: bold;
	}
</style>
