<template>
    <div id="preloaderFullscreen">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="card border-0 shadow rounded">
                        <div class="card-body">
                            <div class="spinner-border text-primary" role="status"></div>
                            <h3>Carregando...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from 'jquery';
    export default {
        name: 'PreloaderFullscreenComponent',
        mounted() {
            $('#preloaderFullscreen').fadeOut();
        }
    };
</script>

<style scoped>
    #preloaderFullscreen {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(0,0,0,0.4);
        z-index: 9999;
    }
    .card {
        margin-top: -70px;
    }
    .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .spinner-border {
        margin-top: -2px;
        margin-right: 15px;
    }
    h3 {
        margin: 0px;
    }
</style>
