<template>
	<nav id="sidebar">
		<!--<div class="sidebar-header">-->
		<!--	<h3>Sidebar</h3>-->
		<!--</div>-->
		<ul class="list-unstyled components">
			<!--<p>Heading</p>-->
			<li v-bind:class="[$route.path == '/agenda' ? 'active' : '']" v-if="$root.usuario.permissoes.agenda || $root.usuario.admin">
				<router-link to="/agenda">
					<i class="material-icons event_available"></i> Agenda
				</router-link>
			</li>
			<li v-bind:class="[$route.path == '/clientes' ? 'active' : '']" v-if="$root.usuario.permissoes.clientes || $root.usuario.admin">
				<router-link to="/clientes">
					<i class="material-icons people"></i> Clientes
				</router-link>
			</li>
			<li v-bind:class="[$route.path == '/profissionais' ? 'active' : '']" v-if="$root.usuario.permissoes.profissionais || $root.usuario.admin">
				<router-link to="/profissionais">
					<i class="material-icons assignment_ind"></i> Profissionais
				</router-link>
			</li>
			<li v-bind:class="[$route.path == '/estoque' ? 'active' : '']" v-if="$root.usuario.permissoes.estoque || $root.usuario.admin">
				<router-link to="/estoque">
					<i class="material-icons work"></i> Estoque
				</router-link>
			</li>
			<li v-bind:class="[$route.path == '/relatorios' ? 'active' : '']" v-if="$root.usuario.permissoes.relatorios || $root.usuario.admin">
				<router-link to="/relatorios">
					<i class="material-icons insert_chart"></i> Relatórios
				</router-link>
			</li>
			<li v-bind:class="[$route.path == '/configuracoes' ? 'active' : '']">
				<router-link to="/configuracoes">
					<i class="material-icons settings"></i> Configurações
				</router-link>
			</li>
			<li v-bind:class="[$route.path == '/usuarios' ? 'active' : '']" v-if="$root.usuario.tipoConta == 'Master' || $root.usuario.admin">
				<router-link to="/usuarios">
					<i class="material-icons supervised_user_circle"></i> Usuários do sistema
				</router-link>
			</li>
			<!--<li>-->
			<!--	<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">-->
			<!--		<i class="material-icons list"></i> Outros-->
			<!--	</a>-->
			<!--	<ul class="collapse list-unstyled" id="pageSubmenu">-->
			<!--		<li>-->
			<!--			<a href="#">Página 1</a>-->
			<!--		</li>-->
			<!--		<li>-->
			<!--			<a href="#">Página 2</a>-->
			<!--		</li>-->
			<!--		<li>-->
			<!--			<a href="#">Página 3</a>-->
			<!--		</li>-->
			<!--	</ul>-->
			<!--</li>-->
		</ul>
	</nav>
</template>

<script>
	export default {
		name: 'SideBarComponent',
		components: {}
	};
</script>

<style scoped>
	/*#7386D5*/
	/*#6D7FCC*/
	#sidebar {
		min-width: 250px;
		max-width: 250px;
		background: #0275D8;
		color: #fff;
		transition: all 0.3s;
	}
	
	#sidebar.active {
		margin-left: -250px;
	}
	
	#sidebar .sidebar-header {
		padding: 20px;
		background: rgba(0,0,0,0.1);
	}
	
	#sidebar ul.components {
		padding: 20px 0;
		/*border-bottom: 1px solid #47748b;*/
	}
	
	#sidebar ul p {
		color: #fff;
		padding: 10px;
	}
	
	#sidebar ul li a {
		padding: 10px;
		font-size: 1.1em;
		display: flex;
	}
	
	#sidebar ul li a:hover {
		color: #0275D8;
		background: #fff;
	}
	
	#sidebar ul li.active>a,
	a[aria-expanded="true"] {
		color: #fff;
		background: rgba(0,0,0,0.1);
	}
	
	a[data-toggle="collapse"] {
		position: relative;
	}
	
	.dropdown-toggle::after {
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
	
	ul ul a {
		font-size: 0.9em !important;
		padding-left: 30px !important;
		background: rgba(0,0,0,0.1);
	}
	
	ul.CTAs {
		padding: 20px;
	}
	
	ul.CTAs a {
		text-align: center;
		font-size: 0.9em !important;
		display: block;
		border-radius: 5px;
		margin-bottom: 5px;
	}
	
	a.download {
		background: #fff;
		color: #0275D8;
	}
	
	a.article,
	a.article:hover {
		background: rgba(0,0,0,0.1) !important;
		color: #fff !important;
	}
	.material-icons {
		margin-right: 10px;
	}
</style>
