<template>
  <div id="app">
    <PreloaderFullscreenComponent />
    <PreloaderFullscreenInitComponent />
    <LoginView v-if="$route.path == '/login'" />
    <div v-if="$route.path != '/login'">
      <NavbarComponent />
      <div class="wrapper">
        <SideBarComponent />
        <div id="content">
          <router-view class="container-fluid" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import PreloaderFullscreenInitComponent from './components/PreloaderFullscreenInit.vue';
import PreloaderFullscreenComponent from './components/PreloaderFullscreen.vue';
import LoginView from './views/Login.vue';
import NavbarComponent from './components/Navbar.vue';
import SideBarComponent from './components/SideBar.vue';
import $ from 'jquery';

export default {
  name: 'app',
  components: {
    PreloaderFullscreenInitComponent,
    PreloaderFullscreenComponent,
    LoginView,
    NavbarComponent,
    SideBarComponent
  },
  beforeMount() {
    var data = this.$cookie.get('session');
    if (data) Object.assign(this.$root.usuario, JSON.parse(data));
  },
  mounted() {
    setTimeout(function(){
      $('#preloaderFullscreenInit').fadeOut('slow');
    }, 3000);
    this.$root.authentication();
  },
  updated() {
    this.$root.authentication();
  }
};
</script>

<style>
@import '~jquery-ui/themes/base/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0px;
  height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    /*font-size: 1.1em;*/
    font-weight: 300;
    /*line-height: 1.7em;*/
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /*margin-bottom: 40px;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.alert {
  display: flex !important;
  z-index: 99999 !important;
}

.alert .material-icons {
  margin-left: -10px;
  margin-right: 10px;
}

.preloader-container {
  text-align: center;
  padding: 30px 0px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
</style>
